@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sigmar&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";

}

body {
    background-color: #748eb1;
}

li, a, button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url("img/header_bg.png");
}

.logo {
    cursor: pointer;
    margin-bottom: 20px;

}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a button {
    padding: 9px 25px;
    background-color: #bf9000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.nav-links li a button:hover {
    background-color: #c4a74e;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 20px;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  .search-form input[type="text"] {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
  }
  
  .search-form button[type="submit"] {
    width: 40px;
    height: 100%;
    border: none;
    background-color: #bf9000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-form button[type="submit"]:hover {
    background-color: #c4a74e;
  }
  

#videos {
    font-family: "Sigmar";
}

#videos h2 {
    font-size: 32px;
    margin: 20px;
    color: white;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
}

.video-thumbnail {
    display: block;
    position: relative;
    background-color: #667d86;
}

.video-thumbnail img {
    display: block;
    width: 95%;
    height: 200px;
    border-radius: 4px;
    margin: 5px;
}

.video-title {
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    font-family: "Roboto";
    margin: 5px;
}

.video-channel {
    margin: 0;
    font-size: 14px;
    color: #FFF;
    margin: 5px;
}

.video-thumbnail:hover img {
    opacity: 0.8;
    cursor: pointer;
}

/*============ SCROLL BAR =============*/
::-webkit-scrollbar{
    width: .66rem;
    border-radius: .5rem;
    background-color: hsl(79, 4%, 15%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(79, 4%, 25%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(79, 4%, 35%);    
}

mark {
    background-color: yellow;
    color: black;
  }
  

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #667d86;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #667d86;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn, .contact-btn{
    height: 32px;
    width: 80px;
    border: none;
    background-color: #748eb1;
    color: #fff;
    font-size: 11pt;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5%;
    margin: 20px;
    margin-top: 5px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #bf9000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #c4a74e;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }