@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sigmar&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #748eb1;
}
li, a, button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url("img/header_bg.png");
}

.logo {
    cursor: pointer;
    margin-bottom: 20px;

}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a button {
    padding: 9px 25px;
    background-color: #bf9000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.nav-links li a button:hover {
    background-color: #c4a74e;
}

canvas {
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 450px;
    width: auto; 
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 20px;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  .search-form input[type="text"] {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
  }
  
  .search-form button[type="submit"] {
    width: 40px;
    height: 100%;
    border: none;
    background-color: #bf9000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-form button[type="submit"]:hover {
    background-color: #c4a74e;
  }
  
  /*============ SCROLL BAR =============*/
::-webkit-scrollbar{
    width: .66rem;
    border-radius: .5rem;
    background-color: hsl(79, 4%, 15%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(79, 4%, 25%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(79, 4%, 35%);    
}


.search-form button[type="submit"] {
    width: 40px;
    height: 100%;
    border: none;
    background-color: #bf9000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-form button[type="submit"]:hover {
    background-color: #c4a74e;
  }


  footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #667d86;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #667d86;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn, .contact-btn{
    height: 32px;
    width: 80px;
    border: none;
    background-color: #748eb1;
    color: #fff;
    font-size: 11pt;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5%;
    margin: 20px;
    margin-top: 5px;
  }

